/* Common CSS Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style-type: none;
}
span {
  display: inline-block;
}
/* Common CSS End */
.navbar{
    padding-top: 36px;
}
.navbar .logo {
  width: 188px;
}
.nav-item{
    color:  #62636C;
/* Commissioner/Commissioner 16 Regular */
font-family: "Commissioner", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}

.sub-btn {
  padding: 16px 32px;
  background-color: #7678ED;
  color: #fff;
  font-family: "Commissioner", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; 
  border: none;
}

/* Navbar Start Here */

/* Navbar End Here */

/* Banner Start Here */
/* Banner End Here */
