/* Common CSS Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style-type: none;
}
span {
  display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Commissioner", sans-serif;
    font-weight: 400;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
}

span {
    display: inline-block;
}

/* Common CSS End */

/* Pricing End */
.navbar{
    padding: 36px 0px;
}
.navbar-brand{
    margin-right: 0px;
}
.navbar .logo {
  width: 188px;
}
.navbar-nav{
    display: flex;
    column-gap: 49px;
}

.nav-item .nav-link:hover{
    color: #7678ED;
}
.nav-item .nav-link{
 color:  #62636C;
 /*Commissioner/Commissioner16Regular*/font-family: "Commissioner", sans-serif;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 text-transform: capitalize;
 transition:0.3s ;
 -webkit-transition:0.3s ;
 -moz-transition:0.3s ;
 -ms-transition:0.3s ;
 -o-transition:0.3s ;
}

.sub-btn {
  padding: 16px 32px;
  background-color: #7678ED;
  color: #fff;
  font-family: "Commissioner", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; 
  border: none;
}

/* Navbar Start Here */

/* Navbar End Here */

/* Banner Start Here */
/* Banner End Here */


/* Pricing Start */
#pricing{
    padding: 96px 0;
}
#pricing *{
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
#pricing .priceTitle{
    font-size: 48px;
    font-weight: 600;
    line-height: 1.46;
    color: #13132C;
}
#pricing .priceDetails{
    max-width: 386px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.70;
    color: #898989;
}
#pricing .priceBtn{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #898998;
    border: 1px dotted #DDDDDD;
    padding: 16px 32px;
}
#pricing .priceBtn:hover{
    color: #fff;
    background-color: #7678ED;
}
#pricing .cord{
    padding: 24px;
    box-shadow: 10px 32px 72px 0px rgba(15, 13, 35, 0.04);
}
#pricing .cord:hover{
    color: #fff;
    background-color: #7678ED;
}
#pricing .cord:hover .priceCardTitle,
#pricing .cord:hover .priceCardDetails,
#pricing .cord:hover .priceAmount,
#pricing .cord:hover .priceAmount span,
#pricing .cord:hover ul .priceCardItem,
#pricing .cord:hover ul .priceCardItem i {
    color: #fff;
}
#pricing .cord:hover .priceCardBtn {
    border-color: #fff;
    background-color: #fff;
}
#pricing .cord .priceCardTitle{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.45;
    color: #13132C;
}
#pricing .cord .priceCardDetails{
    max-width: 240px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    color: #898998;
}
#pricing .cord .priceAmount{
    font-size: 16px;
    font-weight: 400;
    color: #898998;
    margin-bottom: 32px;
}
#pricing .cord .priceAmount span{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    color: #13132C;
}
#pricing .cord ul{
    margin: 0 50px;
}
#pricing .cord ul .priceCardItem{
    font-size: 16px;
    font-weight: 500;
    color: #13132C;
    margin-bottom: 18px;
}
#pricing .cord ul .priceCardItem i{
    margin-right: 12px;
    color: #7678ED;
}
#pricing .cord .priceCardBtn{
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #7678ED;
    padding: 18px 0;
    margin-top: 12px;
    border: 1px solid #7678ED;
}

*-------------BLOG CSS START---------------*/
#blog{
    margin-top: 96px;
    background: #FAFAFA;
}
.blog_head{
    width: 617px;
}
.blog_head h3{
    font-size: 48px;
    line-height: 70px;
    color: #13132C;
    text-transform: capitalize;
}
.blog_head p{
    width: 533px;
    padding-top: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #898998;
}
.blog_wrap{
    padding: 48px 0;
}
.blog_item{
    width: 384px;
    background: #FFF;
    padding: 24px;
}
.blog_item h4{
    margin-top: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #13132C;
}
.blog_item p{
    margin-top: 16px;
    font-size: 14px;
    color: #898998;
}
.blog_item a{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #F18701;
}
.blog_btn{
    font-size: 16px;
    color: #7678ED;
    padding: 18px 40px;
    border: 1px solid #7678ED;
    transition: .4s;
}
.blog_btn:hover{
    background: #7678ED;
    color: #FFF;
}
/*-------------BLOG CSS END---------------*/


/*-------------REVIEW CSS START---------------*/
#review {
    margin-top: -120px;
    position: relative;
    transform: translateY(38%);
}

.review_heading {
    position: relative;
    margin-bottom: 56px;
}

.review_head h3{
    width: 403px;
    font-size: 48px;
    color: #13132C;
}

.review_head a{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 16px;
    color: #7678ED;
    padding: 18px 40px;
    border: 1px solid #7678ED;
    transition: .4s;
}
.review_head a:hover{
    background-color: #7678ED;
    color: #FFF;
}

.review_item {
    background: #FFFF;
    width: 384px;
    padding: 24px;
    border: 1px solid #DDDDDD;
}

.review_item p {
    margin-top: 24px;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    color: #62636C;
}

.reviewer {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}

.reviewer_name h4 {
    font-size: 18px;
    font-weight: 500;
    color: #13132C;
}

.reviewer_name h5 {
    font-size: 16px;
    font-weight: 400;
    color: #898998;
}

.pagination ul {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .left,
.pagination .right {
    width: 55px;
    height: 55px;
    text-align: center;
    font-size: 18px;
    line-height: 55px;
    border-radius: 50%;
    border: 1px solid #FFFF;
    color: #FFFF;
    opacity: 0.48;
    transition: 0.4s;
}
.pagination .left:hover{
    background: #FFF;
    color: #7678ED;
    opacity: 1;
}

.pagination .dot {
    font-size: 24px;
    margin-left: 20px;
    color: #FFFF;
    opacity: 0.48;
    font-size: 8px;
}

.pagination .selected {
    margin-left: 32px;
    opacity: 1;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #FFF;
}

.pagination .right {
    background: #FFFF;
    margin-left: 32px;
    opacity: 1;
    color: #7678ED;
}

/*-------------REVIEW CSS END---------------*/
/*-------------FOOTER CSS START---------------*/
#footer {
    background: #13132C;
    padding-top: 294px;
}

.footer_item_wrap{
    padding-bottom: 48px;
    border-bottom: 1px solid #FFF;
}
.footer_left p{
    margin-top: 24px;
    font-size: 16px;
    line-height: 28px;
    color: #FFF;
    opacity: .72;
}
.footer_item h4{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 40px;
}
.footer_item ul{
    padding-left: 0;
}
.footer_item ul li{
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #FFF;
    opacity: .72;
}
.footer_item .contact{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.copyright p{
    padding: 24px 0 32px;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    text-align: center;
}
/*-------------FOOTER CSS END---------------*/
